<h1></h1>
<p>Enes Batuhan Ay</p>
<p>20160808061</p>
<h2>1    Basics</h2>
<h3>Exercise 1.1: The interpreter</h3>

There won't be any change

<b>(a) 3 + 1</b>

In [19]:
3 + 1

4

<b>(b) 3 * 3</b>

In [20]:
3 * 3

9

<b>(c) 2 ** 3</b>

In [21]:
2 ** 3

8

<b>(d) "Hello, world!"</b>

In [5]:
"Hello, world!"

'Hello, world!'

<h3>Exercise 1.2: Scripts</h3>

there are no output for that.

In [4]:
print(3 + 1)

4

In [48]:
print(3 * 3)

9

In [9]:
print(2 ** 3)

8

In [10]:
print("Hello, world!")

Hello, world!

<h3>Exercise 1.3: More interpreter</h3>

<b>(a) 'py' + 'thon'</b>

In [37]:
'py' + 'thon'

'python'

<b>(b) 'py' * 3 + 'thon'</b>

<b>Answer:</b> 'py' * 3 works as pypypy. The int number indicates printed.

In [38]:
'py' * 3 + 'thon'

'pypypython'

<b>(c) 'py' - 'py</b>

<b>Answer:</b> Python gave us an error.

In [ ]:
"py" - "py"

<b>(d) '3' + 3</b>

<b>Answer:</b> Unlike Java, Python does not have +

In [ ]:
'3' + 3

<b>(e) 3 * '3'</b>

<b>Answer:</b> will print three  '3'.

In [41]:
3 * '3'

'333'

<b>(f) a</b>

<b>Answer:</b> we get an error.

In [ ]:
a

<b>(g) a = 3</b>

<b>Answer:</b> We able to print the result.

In [44]:
a = 3
a

3

<b>(h) a</b>

<b>Answer:</b> result should be 3.

In [36]:
a

3

<h3>Exercise 1.4: Booleans</h3>

<b>(a) 1 == 1</b>

<b>Answer:</b> It should result in True.

In [51]:
1 == 1

True

<b>(b) 1 == True</b>

<b>Answer:</b> 1 and True are equal values.

In [ ]:
1 == True

<b>(c) 0 == True</b>

<b>Answer:</b> 0 and True are not equal,so it is false.

In [54]:
0 == True

False

<b>(d) 0 == False</b>

<b>Answer:</b> True

In [61]:
0 == False

True

<b><b>(e) 3 == 1 * 3</b>

<b>Answer:</b> both sides are equal,so True

In [62]:
3 == 1 * 3

True

<b>(f) (3 == 1) * 3</b>

In [65]:
(3 == 1) * 3

0

<b>(g) (3 == 3) * 4 + 3 == 1</b>

In [64]:
(3 == 3) * 4 + 3 == 1

False

<b>(h) 3 ** 5 >= 4 ** 4</b>

Since 4 ** 4 > 3 ** 5, it should be False.

In [68]:
3 ** 5 >= 4 ** 4

False

<h3>Exercise 1.5: Integers</h3>

<b>(a) 5 / 3</b>

<b>Answer:</b> Simple arithmetic operations.

In [69]:
5 / 3

1.6666666666666667

<b>(b) 5 % 3</b>

<b>Answer:</b> give the remaining of the division operation.

In [71]:
5 % 3

2

<b>(c) 5.0 / 3</b>

In [72]:
5.0 / 3

1.6666666666666667

<b>(d) 5 / 3.0</b>

In [74]:
5 / 3.0

1.6666666666666667

<b>(e) 5.2 % 3</b>

In [75]:
5.2 % 3

2.2

<b><b>(f) 2001 ** 200</b>

<b>Answer:</b> 2001 to the power of 200

In [76]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

<h3>Exercise 1.6: Floats</h3>

<b>(a) 2000.3 ** 200</b>

<b>Answer:</b> will give us an error it's a too large number.

In [ ]:
2000.3 ** 200

<b>(b) 1.0 + 1.0 - 1.0</b>

In [85]:
1.0 + 1.0 - 1.0

1.0

<b>(c) 1.0 + 1.0e20 - 1.0e20</b>

In [86]:
1.0 + 1.0e20 - 1.0e20

0.0

<h3>Exercise 1.7: Variables</h3>

In [95]:
myName = "Enes Batuhan Ay"
print("Hello, " + myName + "!")

Hello, Enes Batuhan Ay!

<h3>Exercise 1.8: Type Casting</h3>

<b>(a) float(123)</b>

In [96]:
float(123)

123.0

<b>(b) float('123')</b>

In [97]:
float('123')

123.0

<b>(c) float('123.23')</b>

In [98]:
float('123.23')

123.23

<b>(d) int(123.23)</b>

In [99]:
int(123.23)

123

<b>(e) int('123.23')</b>

<b>Answer:</b>invalid entry .

In [ ]:
int('123.23')

<b>(f) int(float('123.23'))</b>

In [101]:
int(float('123.23'))

123

<b>(g) str(12)</b>

can be cast into string value

In [102]:
str(12)

'12'

<b>(h) str(12.2)</b>

In [103]:
str(12.2)

'12.2'

<b>(i) bool('a')</b>

<b>Answer:</b> boolean castings result in True

In [104]:
bool('a')

True

<b>(j) bool(0)</b>

In [105]:
bool(0)

False

<b>(k) bool(0.1)</b>

In [106]:
bool(0.1)

True

<h2>2    Control flow</h2>
<h3>Exercise 2.1: Range</h3>

"for i in range(5)" starts from 0 and incremented by 1 until 5.

In [109]:
range(5)

range(0, 5)

In [110]:
type(range(5))

range

<h3>Exercise 2.2: For Loops</h3>

<b>(a) Print the numbers 0 to 100</b>

In [9]:
for x in range(0,100):
    print(x, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

<b>(b) Print the numbers 0 to 100 that are divisible 7.</b>

In [7]:
for x in range(0,100,7):
    print(x, end = " ")

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

<b>(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3.</b>

In [11]:
for x in range(1,100):
    if (x % 3 != 0 and x % 5 == 0):
        print(x, end = " ")

5 10 20 25 35 40 50 55 65 70 80 85 95

<b>(d) Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence,
for 18, it should print 2 3 6 9.</b>

In [35]:
for x in range(2,20):
    print('')
    print("for " + str(x) + ":", end = " ")
    for y in range(2,x):
        if x % y == 0 and y < x:
            print(str(y), end = " ")

for 2:
for 3:
for 4: 2
for 5:
for 6: 2 3
for 7:
for 8: 2 4
for 9: 3
for 10: 2 5
for 11:
for 12: 2 3 4 6
for 13:
for 14: 2 7
for 15: 3 5
for 16: 2 4 8
for 17:
for 18: 2 3 6 9
for 19:

<h3>Exercise 2.3: Simple while loops</h3>

<b>(a) Print the numbers 0 to 100</b>

In [26]:
i = 0
while i < 100:
    print(i, end = " ")
    i += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

<b>(b) Print the numbers 0 to 100 that are divisible by 7</b>

In [36]:
i = 0
while i < 100:
    if (i % 7 == 0):
        print(i, end = " ")
    i += 1

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

<h3>Exercise 2.4 Hangman update 1</h3>

In [ ]:
ch = 'e'
self.available.remove(ch)
ch = 'a'
self.available.remove(ch)

<h3>Exercise 2.5: While loops</h3>

In [38]:
numberFound = 0
x = 11
while numberFound < 20:
    if x % 5 == 0 and x % 7 == 0 and x % 11 == 0:
        print(x, end = " ")
        numberFound += 1;
    x += 1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

<h3>Exercise 2.6: More while loops</h3>

In [ ]:
for x in range (1,11):

<h3>Exercise 2.7: Collatz sequence</h3>

In [1]:
x = 103
print(x , end = " ")
while x != 1:
    if x % 2 == 0:
        x = x / 2
        print(int(x), end = " ")
    else:
        x = 3 * x + 1
        print(int(x), end = " ")

103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

<h2>3 Functions</h2>

<h3>Exercise 3.1: Hello</h3>

<b>(a) Write a function hello_world that prints ’Hello, world!’</b>

In [57]:
def hello_world():
    print('Hello, world!')
hello_world()

Hello, world!

<b>(b) Write a function hello_name(name) that prints ’Hello, name!’ where name is a string.</b>

In [60]:
def hello_name(name):
    print("Hello, " + name + "!")
hello_name("Enes")

Hello, Enes!

<b>(c) Explain the difference between the print and return keywords. What would change if instead of
print you would use return?</b>

Print is used to display a value on the screen. print() is used to display values. On the other hand, return is used to return a value from a function and exit the function. In order to return a value, return keyword is used.

<h3>Exercise 3.2: Polynomial</h3>

In [68]:
def evaluatePolynomial(x):
    return 3 * x ** 2 - x + 2
evaluatePolynomial(0)

2

<h3>Exercise 3.3: Maximum</h3>

<b>(a) Use both if and else.</b>

In [74]:
def my_max(x,y):
    if x > y:
        return x
    else:
        return y
my_max(5,3)

5

<b>(b) Use if but not else (nor elif).</b>

In [75]:
def my_max(x,y):
    if x > y:
        return x
    return y
my_max(3,5)

5

<h3>Exercise 3.4: Primes</h3>

<b>(a) Write a function is_prime(n) that returns True only if n is prime.</b>

In [36]:
def is_prime(num):
    if num> 1:  
        for n in range(2,num):  
            if (num % n) == 0:  
                return False
        return True
    else:
        return False
is_prime(13)

True

<b>(c) Write a function that returns all primes up to n.</b>

In [45]:
def func(n):
    for x in range(2, n + 1):
        if is_prime(x):
            print(x, end = " ")
func(14)

2 3 5 7 11 13

<b>(d) Write a function that returns the first n primes.</b>

In [54]:
def func(n):
    x = 2
    primeNums = 0
    while primeNums < n:
        if is_prime(x):
            print(x, end = " ")
            primeNums = primeNums + 1
        x = x + 1
func(8)

2 3 5 7 11 13 17 19